.about-container {
    grid-template-columns: 35% repeat(2, auto);
    display: grid;

    padding-top: 3rem;

    height: 100%;

    justify-content: space-evenly;
    overflow: hidden;
}

.about-container > div:first-child {
    background-color: rgb(182, 191, 221, 0.4); 
}

.image-container {
    width: 30%; 
    object-fit: cover; 
    padding-top: 1.3rem;
    align-content: center;
    justify-content: center;
}

.image-row {
    padding-top: 1rem;
    /* margin-left: 6.3rem; */
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}