.page {
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 4px 12px 2px rgba(0, 0, 0, 0.2);

    width: 42rem;
    height: 25rem;

    margin: auto;
}

.gridContainer {
    display: grid;
    margin: auto;
    margin-top: 1%;

    grid-template-columns: repeat(3, 27%);
    align-items: center;
    justify-content: center;
    align-content: center;
}

h1 {
    margin: auto;
    font-size: 35px;
    color: #C3B3BA;
    font-family: h1font;
    text-align: center;
    position: relative;
    padding-top: 3%;
}