.vocals {
    display: grid;
    grid-template-columns: 35% 65%;

    margin-top: -0.2rem;

    height: 100%;
}

.vocals > div:first-child {
    margin-top: -0.4rem;
    background-color: #E4E3ED; 
    height: 22.3rem;
    border-radius: 0 0 0 12px;
}

.album-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 8rem 8rem;

    justify-items: center; 
    align-items: center; 

    margin: 0;
    margin-left: -2rem;
    padding-top: 1.4rem;

    padding-left: 2.5rem;
    padding-right: 0.6rem;
}

.album-wrapper {
    position: relative;
    height: 6rem;
    width: 6rem; 
} 

.song-container {
    max-height: 19rem;
    overflow: scroll;
    margin-top: 0.2rem;
    margin-left: 1rem;
}

.song-container::-webkit-scrollbar {
    width: 7px;
    height: 100%;
}

.song-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
}

.album {
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 12px;
    background-color: #534C84;
    margin: auto;
    position: relative; 
    z-index: 2;
    cursor: pointer;
}

.highlight {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -43%); 
    height: 8rem;
    width: 6.45rem; 
    border-radius: 8px;
    background-color: transparent;
    transition: background-color 0.3s;
    z-index: 0;
    pointer-events: none; 
}

.album:hover ~ .highlight {
    background-color: rgba(170, 170, 170, 0.15);
}

.album.selected ~ .highlight {
    background-color: rgb(170, 170, 170, 0.3);
}

.albumtext {
    text-align: left;
    font-size: 1.1rem;
    color: #8982BC;
    margin: 0;
    margin-top: -0.3rem;
    margin-left: 0.3rem;
    z-index: 3;
    position: relative;
    cursor: pointer;
}

@media (max-width: 600px) {
    .vocals > div:first-child {
        /* height: calc(60rem - 3.3rem); */
        height: 57.1rem;
        border-radius: 0 0 0 12px;
    }

    .song-container {
        max-height: 60rem;
    }
}