.header-container {
    display: inline;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    text-align: center;
    line-height: 3rem;

    font-family: pfont;
    font-size: 1.2rem;

    margin: auto;
    margin-top: 4.3%;
    margin-bottom: 0.2%;

    width: 42rem;
    height: 3rem;
}

.header-folder {
    display: inline;
    display: grid;
    grid-template-columns: repeat(4, 25%);

    margin: auto;
    margin-top: 6.5%;
    margin-bottom: 0%;

    width: 42rem;
    height: 1rem;

    cursor: pointer;
}

.clickable-text {
    color: white;
    transition: color 0.3s ease;
    text-shadow: 1px 1px 3px rgb(57, 59, 98, 0.4);
    font-family: pfontbold;
    cursor: pointer;
}

.clickable-text:hover {
    color: #544c849f;
    font-family: pfontbold;
}

.clickable-text.selected {
    color: #534C84;
    font-family: pfontbold;
}