.popup {
    background-color: rgb(79, 63, 70, 0.8);
    width: 35%;
    height: 50%;
    position: fixed;
    top: 20%;
    left: 32%;
    right: 25%;
    border-radius: 1.2rem;
}

button {
    border: none;
    background-color: red;
    border-radius: 25px;
}

button:hover {
    cursor: pointer;
}