body {
  background: radial-gradient(#b6bfdd 0%, #D6D6D6 80%);
  background-attachment: fixed;
  background-repeat: no-repeat;

  margin: 0;
  padding: 0;
}

.page {
  border-radius: 15px;

  border: 0.2rem solid #393B62; 

  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 12px 0px rgb(57, 59, 98, 0.5);

  width: 40rem;
  height: 25.2rem;

  margin: auto;
  overflow: hidden;
}

.page::-webkit-scrollbar {
  display: none;
}

.topbarcontainer {
  margin-bottom: 3.5rem;
}

.container {
  width: 700px;
  padding-top: 14%;
  margin: auto;
}

.gridContainer {
  display: grid;
  margin: auto;
  margin-top: 1%;

  grid-template-columns: repeat(3, 27%);
  align-items: center;
  justify-content: center;
  align-content: center;
}

.gridHeader {
  display: grid;
  margin: auto;
  margin-top: 1%;

  grid-template-columns: 1fr 5% 1fr;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.window {
  height: 400px;
  background-color: white;
  display: grid;
  grid-template-columns: 35% auto;
}

h1 {
  margin: auto;
  font-size: 35px;
  color: #96A3D1;
  font-family: h1font;
  text-align: center;
  position: relative;
  padding-top: 3%;
}

h2 {
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 15px;
  text-align: left;
  font-family: h2font;
  font-size: 70px;
  color: #96A3D1;
}


@font-face {
  font-family: h1font;
  src: url(../public/fonts/Daydream.ttf);
}

@font-face {
  font-family: h2font;
  src: url(../public/fonts/DOSMyungjo.ttf);
}

@font-face {
  font-family: pfont;
  src: url(../public/fonts/SUITE-Medium.ttf);
}

@font-face {
  font-family: pfontbold;
  src: url(../public/fonts/SUITE-Heavy.ttf);
}

p {
  font-family: pfont;
  text-align: left;
  margin-left: 15px;
  margin-top: 0;
  padding-top: 0;
  font-size: 22px;
  color: #96A3D1;
}

.psubheading {
  color: #96A3D1;
  font-family: pfontbold;
  margin-top: -0.4rem;
  font-size: 1.2rem;
  text-align: center;
}

.image-container {
  width: 30%; 
  object-fit: cover; 
  padding-left: 30px; 
  padding-top: 20%;
}

th {
  font-family: pfontbold; 
  font-size: 1rem; 
  padding: 0.5rem;
  color: #96A3D1;
}

td {
  font-family: pfont;
  font-size: 1.25rem;
  color: #96A3D1;
}

hr {
  border: 0.08rem solid #96A3D1;
  margin-left: 2rem;
  margin-right: 2rem;
}